.cursorCell {
  padding: 0 !important;
}

.table-fixed {
  overflow: auto;
  height: 100vh;
  padding-bottom: 0 !important;
}

.table-fixed table {
  width: 100%;
  table-layout: fixed;
}

.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background-color: hsl(171, 100%, 41%);
    color: white !important;
}

.table-empty {
  height: 100vh;
  background-color: hsl(0, 0%, 96%) !important;
}

.slider {
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 5px;
    position: absolute;
    cursor: col-resize;
}
